{
  "extends":"airbnb",
  "rules": {
    "complexity": [error, { "max": 2 }],
    "no-unused-expressions": 1
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": false,
    "sinon": false,
    "app": false,
    "config": false,
    "request": false,
    "destroyAll": false,
    "setupDatasource": false
  }
}
